:root {
  --navy: rgb(3, 30, 67);
  --blue: rgb(11, 37, 73);
  --light-blue: rgb(16, 54, 107);
  --highlight: rgb(253, 65, 89);
  --white: rgb(243, 243, 243);
  --light-grey: rgb(207, 207, 207);
  --medium-grey: rgb(104, 104, 104);
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

p {
  color: var(--white);
}

html,
body {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--navy);
  line-height: 1.3;
}

button {
  letter-spacing: 3px;
  padding: 20px;
  transition: 0.25s ease-in;
  color: var(--white);
  border: 2px solid var(--white);
  background: transparent;
}

i {
  color: var(--highlight);
  font-weight: 500;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-image: url(/media/bullet-arrow.png);
  color: var(--white);
}

.title {
  display: flex;
  align-items: center;
}

/* LOADING */

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: var(--navy);
  color: var(--white);
  z-index: -1;
  animation-name: loading;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#loading h1 {
  animation-name: loading-text;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  margin-left: -48px;
  font-size: 45px;
  font-weight: 100;
  color: var(--highlight);
}

#loading .helloWorld {
  width: 50vw;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  /* background: var(--navy); */
  z-index: 2;
}

#navbar .left {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar .circle {
  border: 3px solid var(--white);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: ease-in 0.25s;
}

#navbar .circle:hover {
  border: 3px solid var(--highlight);
  color: var(--highlight);
  cursor: pointer;
}

#navbar .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 300px;
  margin-right: 50px;
}

#navbar .right p {
  color: var(--white);
  font-weight: 500;
  transition: ease-in 0.25s;
}

#navbar .right p:hover {
  color: var(--highlight);
  cursor: pointer;
}

#navbar .hamburger {
  filter: brightness(0) invert(1);
  height: 50px;
  margin-right: 10px;
  display: none;
}

/* SIDEBAR */

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100px;
  height: 100vh;
  z-index: 2;
}

#sidebar .top {
  margin-left: 50px;
}

#sidebar .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 280px;
  margin-bottom: 0px;
}

#sidebar .bottom img {
  height: 20px;
}

#sidebar .bottom img:hover {
  filter: sepia(0.5) invert(0.45) saturate(300) hue-rotate(-70deg);
}

#sidebar .line {
  width: 2px;
  height: 100px;
  background: var(--white);
}

/* MAIN WRAPPER */

#main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main #project-container {
  height: 100vh;
}

/* LANDING PAGE */

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  letter-spacing: 1px;
}

#landing .line-1 {
  font-size: 55px;
  color: var(--white);
  margin-bottom: 10px;
}

#landing .line-2 {
  font-size: 23px;
  color: var(--white);
  margin-bottom: 20px;
}

#landing img {
  width: 50px;
  animation: arrow 4s infinite;
  position: absolute;
  margin-left: -25px;
  cursor: pointer;
}

#landing .arrow-placeholder {
  height: 50px;
  width: 50px;
  position: absolute;
}

#landing img:hover {
  filter: sepia(0.5) invert(0.45) saturate(300) hue-rotate(-70deg);
}

#landing p {
  margin: 0px;
  padding: 0px;
}

/* ABOUT ME */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#about > * {
  margin: 0px 30px;
}

#about .line {
  height: 2px;
  width: 50%;
  max-width: 200px;
  margin-left: 20px;
  background: var(--white);
}

#about .left {
  width: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#about .description {
  background: var(--blue);
  padding: 10px 20px;
  border-radius: 15px;
}

#about .headshot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#about .headshot img {
  height: 270px;
  width: 285px;
  border-radius: 12px;
  transition: 0.25s ease-in;
}

#about .headshot-border {
  height: 270px;
  width: 285px;
  border-radius: 12px;
  border: 3px solid var(--white);
  position: absolute;
  transform: translateY(15px) translateX(15px);
  z-index: -1;
  transition: 0.25s ease-in;
}

#about .headshot img:hover {
  transform: translateY(-7px) translateX(-7px);
  filter: brightness(0.8);
}

#about .headshot img:hover + .headshot-border {
  transform: translateY(20px) translateX(20px);
  border: 3px solid var(--highlight);
}

/* EXPERIENCE */

#experience-cont {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  height: 100vh;
}

#experience .job {
  background: var(--blue);
  padding: 5px 30px;
  border-radius: 15px;
  margin-bottom: 20px;
}

#experience .job-mobile {
  display: none;
}

#experience .line {
  height: 2px;
  max-width: 200px;
  width: 50%;
  margin-left: 20px;
  background: var(--light-grey);
}

#experience .work-date {
  font-style: italic;
}

/* PROJECTS */

#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-container .fit-minded,
#project-container .covid-map {
  flex-direction: row-reverse;
}

#project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  flex-wrap: wrap;
}

#project.fit-minded .modal-video {
  top: 300vh;
}

#project.rev-you .modal-video {
  top: 400vh;
}

#project .left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 250px;
  max-width: 420px;
  height: 375px;
  z-index: 1;
  margin: 20px;
}

#project.covid-map {
  flex-wrap: nowrap;
}

#project.covid-map .left {
  width: 35vw;
  min-width: 200px;
  transition: 0.25s ease-in;
}

#project.covid-map .left:hover {
  opacity: 0.5;
}

#project.covid-map .left img {
  height: auto;
  width: 90%;
}

#project .left img {
  height: 400px;
}

#project .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project .title h1 {
  margin: 0px;
  white-space: nowrap;
}

#project .title .line {
  height: 2px;
  background: var(--white);
  width: 100%;
  margin: 0px 20px;
}

#project.covid-map .title .line {
  max-width: 35%;
  width: 10vw;
  min-width: 0%;
}

#project .right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 400px;
  width: 35vw;
  max-width: 600px;
  margin: 20px;
}

#project .right .description {
  background: var(--blue);
  padding: 20px;
  border-radius: 15px;
}

#project.covid-map .right {
  width: 35vw;
  min-width: 300px;
}

#project .right > * {
  margin: 10px 0px;
}

#project .logo {
  width: 150px;
}

#project .technologies {
  display: flex;
  flex-wrap: wrap;
}

#project .technologies p {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 3px;
  background: var(--light-blue);
  font-size: 13px;
}

#project .technologies img {
  height: 30px;
}

#project .link-cont {
  display: flex;
}

#project .link-cont img {
  height: 20px;
  margin: 0px 8px;
}

#project .link-cont img:hover {
  filter: sepia(0.5) invert(0.45) saturate(300) hue-rotate(-70deg);
}

/* MORE PROJECTS */

#more-projects-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#more-projects {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#more-projects .project-additional {
  height: 250px;
  width: 250px;
  background: red;
  margin: 20px;
  border-radius: 15px;
}

/* CONTACT */

#contact {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px 30%;
  text-align: center;
}

#contact .title {
  display: flex;
  justify-content: flex-start;
  width: 640px;
}

#contact .line {
  height: 2px;
  width: 50%;
  max-width: 200px;
  margin: 0px 20px;
  background: var(--white);
}

#contact .description {
  background: var(--blue);
  padding: 20px;
  border-radius: 15px;
  width: 600px;
}

#contact .description h2,
#contact .description h3 {
  text-align: center;
}

/* ANIMATIONS */

@keyframes loading {
  0% {
    opacity: 1;
    z-index: 2;
    color: var(--white);
  }
  60% {
    opacity: 1;
    z-index: 2;
    color: var(--white);
  }
  85% {
    opacity: 1;
    z-index: 2;
    color: var(--highlight);
  }
  100% {
    display: none;
    opacity: 0;
    z-index: -1;
    color: var(--highlight);
  }
}

@keyframes loading-text {
  0% {
    opacity: 0;
    color: var(--white);
  }
  50% {
    opacity: 1;
    color: var(--white);
  }
  100% {
    opacity: 1;
    color: var(--highlight);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  15% {
    opacity: 1;
    transform: translateY(0px);
  }
  70% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(-10px);
  }
  90% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    opacity: 0;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
  #main {
    padding: 0px 0px;
    margin: 0px auto;
  }

  #main > * {
    margin: -70px 0px 0px 0px;
  }

  #navbar .right {
    display: none;
  }

  #navbar .hamburger {
    display: block;
    z-index: 2;
  }

  #navbar .circle {
    z-index: 2;
  }

  #navbar #hamburger-drop {
    position: absolute;
    background: var(--navy);
    top: 0px;
    width: 100vw;
    height: 100vh;
    font-size: 30px;
  }

  #navbar .hamburger-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    height: 50%;
  }

  #sidebar {
    display: none;
  }

  #landing {
    margin-top: 0px;
  }

  #landing .line-1 {
    font-size: 40px;
  }

  #landing .line-2 {
    font-size: 20px;
    width: 80%;
  }

  #about .line {
    min-width: 50%;
  }

  #about .left {
    width: 90%;
  }

  #about p {
    font-size: 18px;
  }

  #about .headshot {
    display: none;
  }

  #experience {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #experience li {
    display: none;
  }

  #experience .line {
    height: 2px;
    width: 50%;
    margin-left: 20px;
  }

  #experience .job {
    display: none;
  }

  #experience .job-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue);
    padding: 0px 30px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  #project .right {
    min-width: 80%;
    margin: 0px 0px;
  }

  #project .line {
    display: none;
  }

  #project .left {
    height: 50vw;
  }

  #project.rev-you .right {
    margin-left: 0px;
  }

  #project.covid-map {
    flex-wrap: wrap;
  }

  #project.covid-map .right {
    min-width: 80%;
  }

  #project.covid-map .left {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #project.covid-map .left img {
    /* height: 100px; */
    width: 100%;
  }

  #contact {
    margin-top: 0px;
  }

  #contact .title {
    width: 80vw;
  }

  #contact .description {
    width: 70vw;
  }

  #contact .line {
    width: 50%;
    margin-right: 0px;
  }
}

::-webkit-scrollbar {
  display: none;
}
