:root {
  --highlight-blue: rgb(55, 175, 255);
  --medium-blue: rgb(0, 105, 175);
  --dark-blue: rgb(0, 71, 119);
  --orange: rgb(255, 140, 0);
  --gradient: linear-gradient(0deg, rgba(255, 192, 203, 0), rgb(55, 192, 255));
  --gradient-reverse: linear-gradient(
    180deg,
    rgba(255, 192, 203, 0),
    rgb(55, 192, 255)
  );
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: white;
}

span {
  color: var(--orange);
  text-shadow: rgba(0, 0, 66, 0.281) 2px 2px 2px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

button {
  letter-spacing: 3px;
  padding: 20px;
  transition: 0.25s ease-in;
  color: white;
  border: 2px solid white;
  background: transparent;
}

button:hover {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: white;
  font-weight: 800;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 60px;
  background: var(--dark-blue);
  z-index: 4;
  box-shadow: rgba(0, 0, 139, 0.4) 0px 4px 4px;
}

#navbar .left {
  margin-left: 50px;
}

#navbar .right {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-right: 50px;
}

#navbar .right img {
  height: 30px;
  transition: 0.25s ease-in;
}

#navbar .right img:hover {
  opacity: 0.4;
}

/* LANDING PAGE */

#landing {
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 98, 163);
  background-image: url('/wallpapers/05white.png');
  background-repeat: repeat;
  background-size: 35vw;
  background-attachment: fixed;
}

#landing-left {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.3s ease-in;
  margin-left: 15vw;
  z-index: 1;
}

#landing-text {
  margin-top: -20vh;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 66, 0.281) 2px 2px 2px;
  letter-spacing: 1px;
}

#landing-right {
  position: absolute;
  height: 120vh;
  width: 100vw;
  background-image: var(--gradient-reverse);
}

#landing .image {
  position: fixed;
  width: 40vw;
  bottom: 0px;
  right: 0px;
}

.landing-button button {
  font-size: 20px;
  width: 210px;
  animation-name: expansion;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

/* ABOUT ME */

#about-me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  width: 100vw;
  background: var(--medium-blue);
  z-index: 3;
}

#about-me .content {
  width: 90vw;
  max-width: 1300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
}

#about-me .content img {
  height: 50px;
}

#about-me .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  color: var(--dark-blue);
  height: 280px;
  width: 180px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 139, 0.26) 5px 3px 3px;
  transition: 0.25s ease-in;
}

#about-me .card:hover {
  background: rgb(207, 207, 207);
}

#about-me .card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--orange);
  background-image: url('/wallpapers/05white.png');
  background-repeat: repeat;
  background-size: 15vw;
  height: 280px;
  width: 180px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 139, 0.26) 5px 3px 3px;
}

#about-me .card-back img {
  height: 100px;
}

#about-me .card .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 3px solid var(--dark-blue);
}

/* PROJECTS */

#project-container {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100vw;
  z-index: 2;
}

#project-container.fit-minded {
  height: 700px;
  align-items: flex-end;
  background: white;
}

#project-container.rev-you {
  background: rgb(219, 240, 255);
}

#project-container.you-tuba {
  background: white;
}

#project-container.you-tuba .logo {
  width: 250px;
}

#project-container .you-tuba-images {
  height: 80%;
}

#project-container .rev-you {
  flex-direction: row-reverse;
}

#project {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 100vw;
  max-width: 1400px;
  color: var(--dark-blue);
}

#project .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  min-width: 300px;
  max-width: 420px;
  height: 70%;
}

#project .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  min-width: 400px;
  max-width: 600px;
  height: 80%;
  /* background: blue; */
}

#project .right p,
#project .right h2 {
  text-align: justify;
  margin: 0px;
}

#project .logo {
  width: 300px;
  padding-bottom: 30px;
  border-bottom: 2px solid var(--dark-blue);
}

#project .technologies {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#project .technologies img {
  height: 50px;
}

#project .button-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#project button {
  border-radius: 15px;
  padding: 10px 30px 10px 30px;
  background: var(--dark-blue);
  border: none;
  box-shadow: rgba(0, 0, 73, 0.274) 3px 3px 3px;
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 98, 163);
  background-image: url('/wallpapers/05white.png');
  background-repeat: repeat;
  background-size: 35vw;
  background-attachment: fixed;
  z-index: 2;
}

#contact .gradient {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: var(--gradient);
}

#contact .title {
  width: 100vw;
  font-size: 50px;
  text-align: center;
  z-index: 1;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  z-index: 2;
}

#contact form * {
  width: 100%;
  font-size: 25px;
  padding: 20px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.253);
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  transition: 0.25s ease-in;
}

#contact form *::placeholder {
  color: white;
}

#contact form button {
  width: 200px;
  align-self: flex-end;
  margin-right: -22px;
}

#contact form button:hover {
  width: 200px;
  background: var(--orange);
  border: 3px solid var(--orange);
}

/* ANIMATIONS */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expansion {
  0% {
    height: 0px;
    width: 0px;
    padding: 0px;
    color: transparent;
    opacity: 0;
  }
  30% {
    height: 70px;
    width: 0px;
    padding: 0px;
    color: transparent;
    opacity: 1;
  }
  85% {
    height: 70px;
    width: 207px;
    padding: 20px;
    color: transparent;
  }
  100% {
    height: 70px;
    width: 207px;
    padding: 20px;
    color: white;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
  #landing {
    background-size: 75vw;
    height: 100vh;
  }

  #landing .image {
    display: block;
    width: 80vw;
    bottom: 0px;
    right: 0px;
  }

  #landing-left {
    align-items: center;
    text-align: center;
    margin: 0px;
  }

  #landing-right {
    height: 100vh;
  }

  #landing-text {
    margin-top: -40vh;
  }

  #landing img {
    display: none;
  }

  #about-me {
    min-height: 100vh;
    height: auto;
  }

  #about-me .content {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #project-container,
  #project-container.fit-minded,
  #project-container.rev-you,
  #project-container.you-tuba {
    height: 960px;
    align-items: flex-start;
    padding-top: 60px;
  }

  #project {
    flex-wrap: wrap;
  }

  #project .right {
    min-width: 330px;
  }

  #project .right button {
    width: 100px;
  }

  #project .you-tuba-images {
    height: 270px;
  }

  #contact {
    background-size: 75vw;
  }

  #contact form {
    margin: 40px;
    width: 70vw;
  }
}

::-webkit-scrollbar {
  display: none;
}
